<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="./assets/favicon.svg">
  <link rel="stylesheet" href="./style/main.css">
  <title>Alpaca Generator</title>
</head>

<body>
  <div id="app">
    <div class="app__canvas">
      <div v-for="layer in canvas" :class="['app__canvas__parts', layer]">
        <img :src="imgProxy(layer)" alt="alpaca body-part layer">
      </div>
    </div>
    <div class="app__panel">
      <!-- 部位 -->
      <div class="app__panel__parts categories">
        <ul>
          <li v-for="(item, index) in categories" :key="index" :class="[item, { 'input-selected': selectedCategory === item }]">
            <input type="radio" name="category" :value="item" v-model="selectedCategory">
          </li>
          <li class="github">
            <a href="https://github.com/tzynwang/Practice_alpaca-generator#readme" target="_blank">
            </a>
          </li>
        </ul>
      </div>
      <!-- 選項 -->
      <div class="app__panel__parts styles">
        <ul>
          <li v-for="item in styles[selectedCategory]" :class="{'input-selected': selectedStyle[selectedCategory] === item}">
            <img :src="'./assets/' + selectedCategory + '/' + item + '.png'" alt="alpaca body-part option">
            <input type="radio" :name="selectedCategory" :value="item" v-model="selectedStyle[selectedCategory]">
          </li>
        </ul>
      </div>
      <div class="app__panel__parts actions">
        <button class="button shuffle" @click="shuffle">shuffle</button>
        <button class="button download" @click="download">download</button>
      </div>
    </div>
  </div>
  <script src="./scripts/bundleMain.js"></script>
</body>

</html>