<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="./assets/favicon.svg">
  <link rel="stylesheet" href="./style/main.css">
  <title>Alpaca Generator</title>
</head>

<body>
  <div id="app">
    <div class="app__canvas">
      <div class="app__canvas__parts backgrounds">
        <img :src="getBackgroundsImgSrc" alt="alpaca body-part layer">
      </div>
      <div class="app__canvas__parts leg">
        <img :src="getLegImgSrc" alt="alpaca body-part layer">
      </div>
      <div class="app__canvas__parts ears">
        <img :src="getErasImgSrc" alt="alpaca body-part layer">
      </div>
      <div class="app__canvas__parts neck">
        <img :src="getNeckImgSrc" alt="alpaca body-part layer">
      </div>
      <div class="app__canvas__parts nose">
        <img :src="getNoseImgSrc" alt="alpaca body-part layer">
      </div>
      <div class="app__canvas__parts mouth">
        <img :src="getMouthImgSrc" alt="alpaca body-part layer">
      </div>
      <div class="app__canvas__parts hair">
        <img :src="getHairImgSrc" alt="alpaca body-part layer">
      </div>
      <div class="app__canvas__parts eyes">
        <img :src="getEyesImgSrc" alt="alpaca body-part layer">
      </div>
      <div class="app__canvas__parts accessories">
        <img :src="getAccessoriesImgSrc" alt="alpaca body-part layer">
      </div>
    </div>
    <div class="app__panel">
      <!-- 部位 -->
      <div class="app__panel__parts categories">
        <ul>
          <li v-for="(item, index) in categories" :key="index" :class="[item, { 'input-selected': category === item }]">
            <input type="radio" name="category" :value="item" v-model="category">
          </li>
          <li class="github">
            <a href="https://github.com/tzynwang/Practice_alpaca-generator#readme" target="_blank">
            </a>
          </li>
        </ul>
      </div>
      <!-- 選項 -->
      <div class="app__panel__parts styles">
        <ul>
          <li v-for="item in styles[category]" :class="{'input-selected': selectedStyle[category] === item}">
            <img :src="'./assets/' + category + '/' + item + '.png'" alt="alpaca body-part option">
            <input type="radio" :name="category" :value="item" v-model="selectedStyle[category]">
          </li>
        </ul>
      </div>
      <div class="app__panel__parts actions">
        <button class="button shuffle" @click="shuffle">shuffle</button>
        <button class="button download" @click="download">download</button>
      </div>
    </div>
  </div>
  <script src="./scripts/bundleMain.js"></script>
</body>

</html>