@import 'color';
@import 'extend';
@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

$categories: accessories,
backgrounds,
ears,
eyes,
hair,
leg,
mouth,
neck;

$necks: bend-backward,
bend-forward,
default,
thick;

body {
  font-family: 'Palette Mosaic', cursive;
}

.app__canvas {
  width: 100vw;
  height: 100vw;
  position: relative;
}

.app__canvas__parts {
  width: 100%;
  height: 100%;
  position: absolute;

  img {
    @extend %img-size-setting;
  }
}

.app__panel {
  height: calc(100vh - 100vw);

  .categories,
  .actions {
    width: 100%;
    height: 56px;
  }

  .categories {
    ul {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
    }

    li {
      width: 56px;
      height: 56px;
      position: relative;
      flex-shrink: 0;

      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    li:nth-child(odd) {
      background-color: $primary-pink;
    }

    li:nth-child(even) {
      background-color: $secondary-pink;
    }

    @each $category in $categories {
      li.#{$category} {
        background-image: url('../assets/#{$category}/default.png');
        background-size: cover;
        background-position: center center;
      }
    }

    input {
      @extend %input-setting;
    }

    .input-selected::before {
      @extend %selected-border;
    }
  }

  .styles {
    width: 100%;
    height: calc(100vh - 100vw - 56px - 56px);
    position: relative;
    overflow-y: auto;

    &::after {
      content: 'Alpaca Generator';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      display: flex;
      justify-content: center;
      align-items: center;

      color: $white;
      background-color: $secondary-pink-lighter;
      font-size: 3rem;
      text-align: center;
      text-transform: uppercase;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      overflow: auto;
    }

    li {
      width: 112px;
      height: 112px;
      position: relative;

      flex-shrink: 0;

      display: inline-flex;
      justify-content: center;
      align-items: center;

      background-color: $tertiary-lighter;
    }

    li:nth-child(even) {
      background-color: $tertiary;
    }

    img {
      @extend %img-size-setting;
    }

    input {
      @extend %input-setting;
    }

    .input-selected::before {
      @extend %selected-border;
    }
  }

  .actions {
    display: flex;
  }

  .button {
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: unset;
    color: $dark;

    font-family: inherit;
    font-size: 1.25rem;
    text-transform: uppercase;

    &.shuffle {
      background-color: $primary-pink;
    }

    &.download {
      background-color: $secondary-pink;
    }
  }
}

@media screen and (min-width: 768px) {
  #app {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: $dark;
  }

  .app__canvas {
    width: 320px;
    height: 320px;
  }

  .app__panel {
    height: 320px;
    width: calc(100vw - 320px);

    .styles {
      height: calc(320px - 56px - 56px);
      
      &::after {
        z-index: 0;
      }

      li {
        z-index: 1;
      }
    }
  }
}